@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Coda&display=swap');

:root {
	--font-1: 'Coda', sans-serif;
	--font-2: 'Poppins', sans-serif;
	--font-color-1: hsl(50, 10%, 100%);
	--font-color-2: hsl(50 20% 95% / 0.5);
	--background-1: hsl(0, 0%, 17%);
	--background-2: hsl(0 0% 17% / 0.5);
	--background-3: hsl(0 0% 50% / 0.5);
	--red-1: hsl(22, 95%, 45%);
	--red-2: hsl(22, 60%, 70%);
	--green-1: hsl(104, 35%, 70%);
	--green-2: hsl(104, 70%, 85%);
	--yellow-1: hsl(50, 80%, 65%);
	--yellow-2: hsl(50, 70%, 75%);
	--step--2: clamp(0.69rem, 0.8rem + -0.57vw, 0.38rem);
	--step--1: clamp(0.83rem, 0.86rem + -0.15vw, 0.75rem);
	--step-0: clamp(1rem, 0.83rem + 0.89vw, 1.5rem);
	--step-1: clamp(1.2rem, 0.6rem + 3.2vw, 3rem);
	--step-2: clamp(1.44rem, -0.08rem + 8.11vw, 6rem);
	--step-3: clamp(1.73rem, -1.7rem + 18.26vw, 12rem);
	--step-4: clamp(2.07rem, -5.23rem + 38.98vw, 24rem);
	--step-5: clamp(2.49rem, -12.68rem + 80.91vw, 48rem);
}

body[data-theme='light'] {
	--background-1: hsl(50, 10%, 100%);
	--font-color-1: hsl(0, 0%, 17%);
}

body[data-theme='dark'] {
	--background-1: hsl(0, 0%, 17%);
	--font-color-1: hsl(50, 10%, 100%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	font-size: var(--step-0);
	background: var(--background-1);
}

body {
	display: flex;
	flex-direction: column;
	/*
	justify-content: space-between;
	*/
}

.header {
	background-image: linear-gradient(to right, var(--green-2), var(--yellow-2), var(--red-2));
	z-index: 1;
}

.header-content-container {
	display: flex;
	justify-content: space-between;
	width: min(100%, 1000px);
	margin-inline: auto;

	padding: 1.25rem 1rem 1.25rem 1rem;
}

.logo-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	width: calc(var(--step-5) + 1rem);
	max-width: 8rem;
}

.header-buttons-container {
	display: flex;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
}

.button {
	font-size: var(--step--1);
	font-weight: 700;
	background-color: var(--red-1);
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	transition: all 300ms;
}

.button:hover {
	background-color: var(--green-2);
}

.header-button {
	margin-left: 1rem;
}

.settings-button-container {
	display: flex;
}

#settings-button {
	font-size: var(--step-1);
	background-color: transparent;
	transition: all 300ms;
}

/*Login UI*/

.login-ui-container {
	position: absolute;
	align-self: center;
	top: 50%;
	display: flex;
	flex-direction: column;
	width: min(100%, 20rem);
	padding: 1rem;
	font-size: var(--step--1);
	color: var(--font-color-1);
	border: 2px solid var(--font-color-1);
	border-radius: 20px;
	background-color: var(--background-1);
	transform: translateY(-50%);
}

.form-container {
	display: flex;
	flex-direction: column;
	padding: 1rem 0;
}

.login-input-label {
	display: block;
}

.login-input {
	margin-bottom: 1rem;
	padding: 0.25rem;
	font-size: inherit;
	border-radius: 4px;
}

.minor-button {
	width: fit-content;
	margin: 0 auto;
	padding: 0.5rem;
	color: var(--font-color-1);
}

.signup-text {
	margin-bottom: 1rem;
	text-align: center;
}

#login-modal-button,
#signup-modal-button {
	width: 80%;
	margin: 0 auto;
}

/*Landing Page*/

.landing-page-container {
	/* padding: max(10vh, 1rem) 1.5rem; /* top and bottom set to larger of 3vh or 1rem, left and right 1.5rem */
	background: var(--background-1) url(../src/images/food2.jpg) no-repeat fixed center;
	background-size: cover;
}

.hero-section {
	height: calc(100vh - 4.95rem);
	width: 100%;
	padding: 15vh 0;
	backdrop-filter: blur(8px);
}

.hero-content {
	width: min(90%, 1000px);
	margin-inline: auto;
	padding: 10vh 2rem;
	background-color: var(--background-2);
	color: var(--font-color-1);
}

.page-heading {
	font-family: var(--font-1);
	font-size: var(--step-2);
	/* 3 min, 5 max, 10vw+1 ideal, the +1 is in case of zooming in/out */
	line-height: 1;
	margin-bottom: 2rem;
}

.page-subheading {
	font-size: var(--step-0);
	font-weight: 400;
}

.feature-section {
	padding: 2rem;
	background-color: var(--background-1);
}

.feature-content {
	width: min(90%, 1000px);
	margin-inline: auto;
}

.footer {
	display: none;
	padding: 2rem 0;
	font-size: var(--step--1);
	background-image: linear-gradient(to right, var(--green-2), var(--yellow-2), var(--red-2));
}

.footer-content {
	margin: 0 auto;
}

/*Nav*/

.nav-container {
	position: fixed;
	bottom: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0.25rem;
	width: 100%;
	margin-inline: auto;
	padding: 0.25rem;
	border-top: 1px solid var(--font-color-1);
	background-color: var(--background-1);
	z-index: 2;
}

.nav-container a {
	color: var(--font-color-1);
	text-decoration: none;
}

/*
.nav {
	border: 1px solid var(--font-color-1);
}
*/

.nav-button {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: min(8rem, 100%);
	padding: 1rem 0.5rem;
	font-size: var(--step--1);
	font-weight: 600;
	color: var(--font-color-1);
	/*
	border-left: 2px solid transparent;
	*/
	border-radius: 10px;
	transition: all 300ms;
}

/*
.arrow {
	display: none;
	margin-left: 1rem;
	transition: all 0.5s;
}
*/

#meal-plans-button:hover {
	color: var(--background-1);
	background-color: var(--green-1);
}

#grocery-list-button:hover {
	color: var(--background-1);
	background-color: var(--yellow-1);
}

#recipes-button:hover {
	color: var(--background-1);
	background-color: var(--red-1);
}

.subnav {
	display: flex;
	flex-direction: column;
	margin-left: 1rem;
}

.subnav-button {
	padding: 0.25rem 0;
	font-size: var(--step--1);
	text-align: left;
	color: var(--font-color-1);
	transition: all 300ms;
}

.subnav-button:hover {
	color: var(--green-1);
}

.vertical-flip {
	transform: scaleY(-1);
}

.hidden {
	display: none;
}

/*Meal Plan Page*/

.page-container {
	position: relative;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: min(100%, 1000px);
	margin-inline: auto;
	padding-top: 1rem;
	padding-bottom: max(15vh, 8rem);
	top: 0;
}

.content-page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.content-section {
	/*
	flex: 1 1 72%;
*/
	width: min(100%, 600px);

	max-width: 100vw;

	padding-inline: 1rem;

	background-color: var(--background-1);
	color: var(--font-color-1);
	background-color: transparent;
}

.meal-plan-container {
	display: grid;
	grid-template-rows: repeat(7, 1fr);
	grid-gap: 0.25rem;
	margin: 1rem auto;
	text-align: center;
	font-size: var(--step--2);
	border-radius: 20px;
}

.header-cell-container {
	display: grid;
	grid-template-columns: 30% 67.5%;
	grid-gap: 2.5%;
	border-radius: 15px;
}

.meal-plan-header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 0;
	border: solid 1px var(--font-color-1);
	border-radius: 10px;
	color: var(--background-1);
	background-image: linear-gradient(to right, var(--green-2), var(--yellow-2), var(--red-2));
}

.meal-plan-cell {
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid 1px var(--font-color-1);
	border-radius: 10px;
	background-color: var(--background-1);
	color: var(--red-1);
}

.cell-button {
	height: 100%;
	width: 100%;
	padding: 0.75rem 0.25rem;
	font-size: var(--step--1);
	font-weight: 600;
	color: var(--red-1);
	transition: all 300ms;
}

.cell-button:hover {
	color: var(--green-1);
}

.top-left-corner {
	border-left: solid 2px var(--font-color-1);
	border-radius: 15px 0 0 0;
}

.top-right-corner {
	border-right: solid 2px var(--font-color-1);
	border-radius: 0 15px 0 0;
}

.bottom-left-corner {
	border-left: solid 2px var(--font-color-1);
	border-radius: 0 0 0 15px;
}

.bottom-right-corner {
	border-right: solid 2px var(--font-color-1);
	border-radius: 0 0 15px 0;
}

/*Grocery List*/

.grocery-list-container {
	display: flex;
	flex-direction: column;
	margin-top: 1.5rem;
	padding: 0.75rem;
	border: solid 2px var(--font-color-1);
	border-radius: 15px;
}

.grocery-list-item {
	position: relative;
	display: grid;
	grid-template-columns: 10% 80% 10%;
	justify-content: center;
	align-items: center;
	padding: 0.25rem 0;
	border-bottom: solid 1px var(--font-color-1);
}

.grocery-list-item button {
	font-size: var(--step--1);
	transition: all 300ms;
}

.grocery-list-item input:hover {
	color: var(--green-1);
}

.grocery-list-text-container {
	display: grid;
	grid-template-columns: 70% 15% 15%;
	justify-content: space-between;
	font-size: var(--step--1);
}

.grocery-list-text-container input,
.recipe-ingredient-container input,
.recipe-instruction-container textarea {
	font-size: var(--step--1);
	color: var(--font-color-1);
	background-color: transparent;
	border: none;
	outline: none;
}

.grocery-list-text {
	margin-left: 0;
}

.grocery-list-amount {
	/*
	width: 3rem;
	*/
	text-align: center;
}

.grocery-list-delete-button {
	text-align: right;
}

.checkbox {
	position: relative;
	left: 0;
	display: block;
	align-items: center;
	height: 0.85rem;
	width: 0.85rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}

/*Hide default checkbox*/
.checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/*Create custom checkbox*/
.checkmark {
	position: absolute;
	left: 0;
	height: 0.85rem;
	width: 0.85rem;
	border: 1px solid var(--font-color-1);
	border-radius: 50%;
	background-color: transparent;
	transition: all 300ms;
}

.checkbox:hover input ~ .checkmark {
	background-color: var(--green-1);
}

.checkmark::after {
	content: '';
	position: absolute;
	display: none;
}

/*Change bg color when checked*/
.checkbox input:checked ~ .checkmark {
	background-color: var(--background-2);
}

/*Show custom checkmark when checked*/
.checkbox input:checked ~ .checkmark:after {
	display: block;
}

/*Checkmark styles*/
.checkbox .checkmark:after {
	left: 0.25rem;
	height: 0.625rem;
	width: 0.3rem;
	border: solid var(--green-1);
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/*Completed Item Styles*/

.completed {
	position: relative;
	opacity: 0.3;
}

.completed::after {
	content: '';
	position: absolute;
	top: 50%;
	height: 0.0625rem;
	width: 100%;
	margin-inline: auto;
	background-color: var(--green-1);
}

.grocery-list-delete-button {
	font-size: inherit;
	color: var(--font-color-1);
	opacity: 0.5;
	transition: all 300ms;
}

.grocery-list-delete-button:hover {
	color: var(--red-1);
}

#add-list-item-button {
	margin-top: 1rem;
}

/*Recipe List Page*/

.recipe-list-container {
	margin-bottom: 2rem;
	font-size: var(--step--1);
	color: var(--red-1);
}

.recipe-list-container button {
	font-size: inherit;
	font-weight: 600;
	color: inherit;
}

.recipe-list-item {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.25rem 0;
	border-bottom: solid 1px var(--font-color-1);
}

.recipe-filter-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 1rem;
	color: var(--red-1);
}

.recipe-filter-container button {
	padding: 0.125rem;
	font-size: var(--step-0);
	transition: all 300ms;
}

.recipe-filter-container button:hover {
	color: var(--green-1);
}

.search-container {
	display: flex;
	width: 60%;
	align-items: center;
	padding: 0.25rem 0.5rem;
	border: 2px solid var(--font-color-1);
	border-radius: 1rem;
	background-color: var(--background-1);
}

.search-container input {
	width: 90%;
	margin-left: 0.5rem;
	font-family: inherit;
	font-size: var(--step--2);
	border: none;
	outline: none;
	background-color: var(--background-1);
}

/*Recipe Modal*/

.recipe-modal {
	position: absolute;
	align-self: center;
	top: 50%;
	display: flex;
	flex-direction: column;
	max-height: 70vh;
	width: min(100%, 20rem);
	padding: 1rem;
	font-size: var(--step--1);
	color: var(--font-color-1);
	border: 2px solid var(--font-color-1);
	border-radius: 20px;
	background-color: var(--background-1);
	transform: translateY(-50%);
	overflow-y: scroll;
}

.recipe-header-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-radius: 20px 20px 0 0;
	border-bottom: 2px solid var(--font-color-1);
}

.recipe-img {
	max-width: 60%;
	border-radius: 10px;
	box-shadow: 2px 2px 10px -4px var(--font-color-1);
}

.recipe-modal .page-subheading {
	font-weight: 600;
	color: var(--red-1);
}

.recipe-modal-close-button {
	position: fixed;
	top: 0.25rem;
	right: 0.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 0.3125rem;
	font-size: var(--step-0);
	color: var(--red-1);
	transition: all 300ms;
}

.recipe-modal-close-button:hover {
	color: var(--green-1);
}

.ingredient-list-container {
	padding: 1rem 0;
	border-radius: 0 0 20px 20px;
}

.recipe-ingredient-container {
	display: grid;
	grid-template-columns: 15% 20% 65%;
	font-size: var(--step-0);
}

.ingredient-amount {
	text-align: right;
}

.ingredient-unit {
	text-align: left;
}

.ingredient-name {
	padding-left: 0.25rem;
}

.recipe-instruction-container {
	display: flex;
	padding: 0.25rem 0;
}

.instruction-numeral {
	padding-right: 0.5rem;
	font-size: var(--step--2);
	font-weight: 600;
}

.instruction-text {
	height: min-content;
	width: 100%;
	resize: none;
	font-family: var(--font-2);
	font-size: var(--step--2);
}

.recipe-buttons-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 0.5rem;
}

.recipe-buttons-container button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: var(--step--2);
}

.button-icon {
	font-size: var(--step-1);
}

/*Scrollbars*/

/*Firefox*/
* {
	scrollbar-width: thin;
	scrollbar-color: var(--font-color-2) var(--background-1);
}

*::-webkit-scrollbar {
	border-radius: 20px;
}

*::-webkit-scrollbar-track {
	margin: 1.25rem 0;
	border-radius: 20px;
	background-color: var(--background-1);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--font-color-2);
	border-radius: 20px;
	border: 3px solid var(--background-1);
	/*
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	*/
}

/* New Recipe Modal */

.new-recipe-ingredient-grid {
	display: grid;
	grid-template-columns: 50% 20% 12.5% 10%;
	grid-gap: 2.5%;
	margin-bottom: 0.25rem;
}

.new-recipe-instruction-grid {
	display: grid;
	grid-template-columns: 87.5% 10%;
	grid-gap: 2.5%;
	margin-bottom: 0.25rem;
}

.new-recipe-ingredient-grid button,
.new-recipe-instruction-grid button {
	font-size: var(--step-0);
}

.form-heading {
	font-size: var(--step--2);
}

.new-recipe-input {
	padding: 0.25rem;
	font-size: var(--step--1);
}

.add-ingredient-button {
	margin-bottom: 1rem;
	font-size: var(--step--1);
	color: var(--font-color-1);
	transition: all 300ms;
}

.add-ingredient-button:hover {
	color: var(--green-1);
}

.recipe-subheading {
	padding-bottom: 0.5rem;
}

.submit-recipe-button {
	display: block;
}

/*Utility classes*/

.utility-button {
	font-size: var(--step--1);
	color: var(--font-color-1);
	transition: all 300ms;
}

.green-hover:hover {
	color: var(--green-2);
}

.red-hover:hover {
	color: var(--red-1);
}

.text-center {
	text-align: center;
}

.grid-2-column {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0.5rem;
}

.padding-vertical {
	padding: 1rem 0;
}

.padding-top {
	padding-top: 1rem;
}

/*Settings Modal*/

#settings-modal {
	position: absolute;
	top: 0;
	right: 1rem;
	height: fit-content;
	width: fit-content;
	padding-top: 2%;
	font-size: var(--step--1);
	color: var(--font-color-1);
	background-color: var(--background-1);
	border-right: 2px solid var(--font-color-1);
	border-bottom: 2px solid var(--font-color-1);
	border-left: 2px solid var(--font-color-1);
	border-radius: 0 0 10px 10px;
	transition: all 300ms ease-in-out;
}

.slide-out-view {
	transform: translateY(-105%);
}

.setting-item-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	z-index: -1;
}

.switch {
	position: relative;
	display: inline-block;
	height: 1.5rem;
	width: 2.75rem;
	padding: 0.25rem;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--background-3);
	border-radius: 20px;
	border: 2px solid var(--font-color-1);
	transition: all 300ms;
}

.switch input {
	display: none;
}

.slider::before {
	content: '';
	position: absolute;
	height: 1rem;
	width: 1rem;
	left: 0.125rem;
	bottom: 0.125rem;
	background-color: var(--font-color-1);
	border-radius: 50%;
	transition: all 300ms;
}

input:checked + .slider {
	background-color: var(--green-1);
}

input:checked + .slider::before {
	transform: translateX(1.25rem);
}

/*Media Queries*/

@media only screen and (min-width: 600px) {
	/*
	.page-container {
		padding-bottom: min(2rem, 5vh);
	}
	*/
	.content-section {
		margin-inline: auto;
	}

	.nav-button {
		margin-inline: auto;
		padding-top: 0.25rem;
		padding-bottom: 1rem;
	}

	#meal-plans-button:hover {
		color: var(--green-1);
		background-color: var(--background-1);
	}

	#grocery-list-button:hover {
		color: var(--yellow-1);
		background-color: var(--background-1);
	}

	#recipes-button:hover {
		color: var(--red-1);
		background-color: var(--background-1);
	}
}

@media only screen and (min-width: 1000px) {
	body {
		display: grid;
		grid-template-rows: auto 1fr 10%;
		grid-template-columns: 1fr;
		justify-content: space-between;
	}

	.nav-container {
		flex: 1 1 20%;
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-inline: auto;
		padding: 0;
		border: none;
		background-color: var(--background-1);
	}

	.nav-button {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: left;
		width: min(8rem, 100%);
		margin: 0;
		font-size: var(--step--1);
		font-weight: 600;
		color: var(--font-color-1);
		border-left: 2px solid transparent;
		transition: all 300ms;
	}

	.button-icon {
		font-size: var(--step--1);
		margin-right: 0.75rem;
	}

	.arrow {
		display: block;
		margin-left: 1rem;
		transition: all 0.5s;
	}

	.content-section {
		flex: 1 1 80%;
		/*
		height: min(70vh, 1000px);
		padding: 0.625rem 1rem 40vh 1rem;
		*/
		background-color: var(--background-1);
		border-left: solid 2px var(--green-1);
		color: var(--font-color-1);
		background-color: transparent;
	}

	.meal-plan-container {
		margin: 2rem auto;
		text-align: center;
		font-size: var(--step--2);
		border-radius: 20px;
	}

	.footer {
		display: flex;
	}
}

/*
To do:


*/
